@import "/public/mixins/common_mixin.less";

/**
 * admin-blog样式
 */
.admin-blog-list {
    p {
        padding-bottom: 5px;
        border-bottom: 1px solid @x-blue-smoke;
        line-height: 18px;
    }

    .actions {
        float: right;
        margin-right: 200px;
        background-color: @x-gray-smoke;
    }

    .time {
        color: @x-gray-text;
    }
}