@import "/public/mixins/common_mixin.less";

/** 分类部分的样式 */
.blog-category {
    margin-bottom: 10px;

    .tab-blog-category {
        .x-unstyle;
        float: left;
        width: 60px;

        .tab-item {
            .x-inline-block;
            font-size: 14px;

            a {
                .x-ceil(60px, @x-blue-light, @x-white);
                line-height: 60px;
                text-decoration: none;
            }

            &.tab-item-active a,
            &.tab-item-active a:hover {
                color: @x-black;
                background: @x-green-smoke;
            }
        }
    }

    .blog-category-content {
        height: 100px;
        margin-left: 60px;
        padding: 10px;
        background: @x-green-smoke;
    }

    .blog-category-list {
        .x-unstyle;

        .blog-category-item {
            .x-ceil(100px);
            .x-yahei;
            position: relative;
            line-height: 100px;
            font-size: 40px;
            cursor: pointer;

            .description {
                position: absolute;
                bottom: 5px;
                right: 5px;
                font-size: 12px;
                font-weight: normal;
                line-height: 16px;
            }

            &:hover {
                color: @x-blue-link;
            }

            &.active {
                background-color: @x-blue-smoke;
                z-index: 2;
            }
        }
    }    
}

.tip-blog-category {
    .x-transition(left, .3s);
    width: 500px;
    padding: 20px;
    background-color: @x-blue-smoke;
    box-shadow: 3px 3px 3px @x-gray;

    .blog-articles {
        .x-unstyle;
        background-color: @x-white;

        p {
            margin: 0;
        }

        li {
            .x-transition(border-color, .3s);
            padding: 5px 5px 10px 5px;
            border: 1px solid @x-white;
            overflow: hidden;
            cursor: pointer;

            a {
                .x-yahei;
                margin-bottom: 5px;
                font-size: 14px;
                text-decoration: none;
            }

            &:hover {
                border: 1px solid @x-green;
            }
        }

        .description {
            position: relative;
            color: @x-black-light;
        }

        .background {
            position: absolute;
            left: 0;
            top: -25px;
            width: 100%;
            height: 200%;
            opacity: .3;
            z-index: 1;
        }

        .date {
            margin: 5px 0;
        }
    }

    .blog-articles-page {
        overflow: hidden;
        .page {
            float: right;
            width: 260px;
            overflow: hidden;

            .page-item {
                .x-transition(background-color, .5s);
                float: left;
                margin-right: 5px;
                border: 1px solid @x-blue-smoke;
                padding: 5px 10px;
                text-decoration: none;

                &.page-item-active,
                &.page-item-active:hover {
                    color: @x-black;
                    border: 1px solid @x-white;
                    background-color: @x-white;
                }

                &:hover {
                    background-color: @x-blue;
                    color: @x-white;
                };
            }
        }
    }
}


/**
 * article 主体内容
 */
.blog-article {
    min-height: 400px;

    .blog-article-category {
        float: left;
        width: 200px;
    }

    .blog-article-content {
        position: relative;
        margin-left: 210px;
        background-color: @x-white;
    }

    .blog-article-cover {
        position: relative;
        width: 100%;
        height: 100%;
        background-size: cover;

        .read {
            .x-ceil(150px, @x-green-dark);
            .x-yahei;
            position: absolute;
            border: 2px solid @x-blue;
            line-height: 150px;
            color: @x-white;
            font-size: 36px;
            font-weight: bold;
            opacity: .8;
            text-decoration: none;
        }

        .infomation {
            position: absolute;
            left: 60px;
            top: 100px;
            padding: 10px 20px;
            background: url("/public/images/layouts/textur.png?__sprite") repeat;
            background-color: @x-gray-smoke;
            opacity: .7;

            h2 {
                .x-yahei();
                font-size: 32px;

                a {
                    .x-transition(color, .3s);
                    color: @x-blue-link;
                    text-decoration: none;

                    &:hover {
                        color: @x-blue;
                    }
                }
            }

            .description {
                color: @x-gray-text;
            }
        }
    }
}
