@import "/public/stylesheets/mixins/common_mixin.less";

/**
 * index 样式
 */
.blog-index-nav {
    .x-unstyle;
    float: left;
    width: 300px;
    height: 100%;
    text-align: center;
    overflow-y: hidden;

    .mod-tab-item {
        .x-transition(all, 0.3s);
        display: inline-block;
        padding: 5px;
        margin: 10px;
        width: 110px;
        height: 110px;
        line-height: 110px;
        background-color: @x-blue;
        border: 1px solid darken(@x-blue, 10%);
        color: #f6f6f6;
        overflow: hidden;
        font-weight: bold;
        font-size: 24px;
        border-radius: 60px;
        cursor: pointer;

        &.mod-tab-item-active {
            font-size: 26px;
            background-color: @x-white;
            border: 1px solid @x-gray;
            color: @x-blue;

            &:hover {
                font-size: 26px;
                background-color: @x-white;
                border: 1px solid @x-gray;
                color: @x-blue;
            }
        }

        &:hover {
            background-color: lighten(@x-blue, 5%);
        }
    }
}

.blog-index-list {
    box-sizing: border-box;
    padding: 20px 100px 20px 30px;
    margin-left: 300px;
    height: 100%;
    border: 1px solid @x-gray;
    background-color: @x-white;
    overflow-y: auto;
    box-shadow: 1px 0px 2px @x-gray;

    &.loading {
        background: #ffffff url("/public/images/blog/Teddy_Bear_Loading.gif") no-repeat center center;
    }

    .content {
        .x-transition(opacity, 0.3s);
        position: relative;
        margin: 0 80px 60px 0;
        height: 280px;
        width: 600px;
        padding: 20px;
        border: 5px solid #3D3D3D;
        vertical-align: bottom;
        background-repeat: no-repeat;
        background-color: #3D3D3D;
        border-radius: 10px;
        box-shadow: 0px 0px 4px @x-gray;
        opacity: 0;

        &.content-top {
            border: 5px solid @x-red;
            background-color: @x-red;
        }

        &:hover {
            border: 5px solid @x-blue-light;
            background-color: @x-blue-light;

            .content-image {
                -webkit-transform: scale(1.1, 1.1);
                opacity: 1;
            }
        }

        .content-image {
            .x-transition(all, 0.3s);
            position: absolute;
            top: 20px;
            left: 20px;
            width: 300px;
            height: 280px;
            background-size: cover;
            opacity: 0.4;
        }

        .content-info {
            display: inline-block;
            float: right;
            width: 300px;
            height: 100%;
            padding: 20px 10px 20px 30px;
            background: fade(@x-white, 80%) url("/public/images/layouts/texture.png?__sprite") repeat;
            overflow: hidden;
            box-sizing: border-box;
            -moz-box-sizing: border-box;

            p {
                margin: 0;
            }

            .series {
                font-size: 18px;
                color: darken(@x-gray-text, 20%);
            }

            .desc {
                color: @x-gray-text;
            }

            .title {
                display: block;
                font-size: 18px;
                margin-bottom: 10px;
            }

            .read {
                .x-transition(right, .3s);
                position: absolute;
                font-size: 56px;
                top: 40%;
                right: -40px;
                text-decoration: none;

                &:hover {
                    right: -50px;
                }
            }
        }
    }
}