@import "/public/stylesheets/mixins/common_mixin.less";

/**
 * index 样式
 */
.blog-index-nav {
    .x-unstyle;
    float: left;
    width: 300px;
    height: 100%;
    text-align: center;
    overflow-y: hidden;

    .mod-tab-item {
        .x-transition(all, 0.3s);
        display: inline-block;
        margin: 10px;
        width: 120px;
        height: 120px;
        line-height: 120px;
        background-color: @x-blue;
        border: 1px solid darken(@x-blue, 10%);
        color: #f6f6f6;
        overflow: hidden;
        font-weight: bold;
        font-size: 24px;
        border-radius: 60px;
        cursor: pointer;

        &.mod-tab-item-active,
        &:hover {
            background-color: @x-white;
            border: 1px solid @x-gray;
            color: @x-blue;
        }
    }
}

.blog-index-list {
    box-sizing: border-box;
    padding: 20px 100px 20px 30px;
    margin-left: 300px;
    height: 100%;
    border: 1px solid @x-gray;
    background-color: @x-white;
    overflow-y: auto;
    box-shadow: 1px 0px 2px @x-gray;

    &.loading {
        background: #ffffff url("/public/images/blog/Teddy_Bear_Loading.gif") no-repeat center center;
    }

    .content {
        .x-transition(opacity, 1s);
        position: relative;
        height: 280px;
        padding: 20px;
        border: 20px solid #3D3D3D;
        margin-bottom: 60px;
        background-repeat: no-repeat;
        background-color: #3D3D3D;
        border-radius: 10px;
        box-shadow: 0px 0px 4px @x-gray;
        opacity: 0;

        .content-info {
            padding: 20px 10px;
            height: 240px;
            background: url("/public/images/layouts/texture.png?__sprite") repeat;
            background-color: fade(@x-white, 80%);
            overflow: hidden;

            p {
                margin: 0;
            }

            .series {
                font-size: 22px;
                color: darken(@x-gray-text, 20%);
            }

            .desc {
                color: @x-gray-text;
            }

            .title {
                display: block;
                font-size: 22px;
                margin-bottom: 20px;
            }

            .read {
                .x-transition(right, .3s);
                position: absolute;
                font-size: 56px;
                top: 50%;
                right: -40px;
                text-decoration: none;

                &:hover {
                    right: -50px;
                }
            }
        }
    }
}