@import "/public/stylesheets/mixins/common_mixin.less";

body {
    .x-yahei;
    font-size: 12px;
    background-color: #e2e2e2;;
    background: url("/public/images/layouts/texture_body.png?__sprite") repeat;

    a {
        color: @x-blue-link;
        text-decoration: none;

        &:hover {
            color: @x-blue;
            text-decoration: underline;
        }
    }
}

.clearfix {
    .x-clearfix;
}

.nav-header {
    .x-unstyle;
    padding: 8px;
    margin-bottom: 5px;
    border-bottom: 1px solid @x-gray-smoke;
    font-size: 0;
    background-color: rgba(4, 81, 141, 0.44);

    .nav-item {
        .x-inline-block;
        margin-right: 10px;
        
        a {
            .x-ceil(50px);
            line-height: 50px;
            font-size: 12px;
            text-decoration: none;
        }
    }
}

.blog-footer {
    position: fixed;
    padding: 5px 10px;
    bottom: 8px;
    right: 8px;
    text-align: center;
    color: @x-white;
    background-color: @x-black;
    opacity: .5;

    a {
        color: @x-white;

        &:hover {
            color: @x-white;
        }
    }

    &.blog-footer-article {
        position: static;
        padding: 15px 10px;
        opacity: 1;

        a {
            .x-ceil(80px, @x-red, @x-white);
            line-height: 80px;
            font-size: 18px;
            font-weight: bold;
        }
    }
}